# Part 6: Adding & Removing Rows or Columns

In [ ]:
# Our authors
authors = {
    'first':['Ernest','Stephen','Harper'],
    'last':['Hemingway','King','Lee'],
    'email':['ehemingway@email.com','sking@email.com','hlee@email.com']
}

ff = pl.DataFrame(authors)
ff

In [84]:
# Add values from two columns
ff['first'] + ' ' + ff['last']

shape: (3,)
Series: 'first' [str]
[
	"Ernest Hemingway"
	"Stephen King"
	"Harper Lee"
]

In [87]:
# Add a column
(ff
 .with_columns((pl.col('first') + ' ' + pl.col('last')).alias('full_name'))
 )

shape: (3, 4)
┌─────────┬───────────┬──────────────────────┬──────────────────┐
│ first   ┆ last      ┆ email                ┆ full_name        │
│ ---     ┆ ---       ┆ ---                  ┆ ---              │
│ str     ┆ str       ┆ str                  ┆ str              │
╞═════════╪═══════════╪══════════════════════╪══════════════════╡
│ Ernest  ┆ Hemingway ┆ ehemingway@email.com ┆ Ernest Hemingway │
│ Stephen ┆ King      ┆ sking@email.com      ┆ Stephen King     │
│ Harper  ┆ Lee       ┆ hlee@email.com       ┆ Harper Lee       │
└─────────┴───────────┴──────────────────────┴──────────────────┘

In [108]:
# Remove columns
ff = (ff
    .with_columns((pl.col('first') + ' ' + pl.col('last')).alias('full_name'))
    .drop('first','last')
    )

In [109]:
# Return the original dataframe
ff = (ff
 .with_columns(pl.col('full_name').str.split_exact(' ', 1)
               .struct.rename_fields(['first','last']).alias('fields'))
 .unnest('fields')
 )

In [110]:
ff

shape: (3, 4)
┌──────────────────────┬──────────────────┬─────────┬───────────┐
│ email                ┆ full_name        ┆ first   ┆ last      │
│ ---                  ┆ ---              ┆ ---     ┆ ---       │
│ str                  ┆ str              ┆ str     ┆ str       │
╞══════════════════════╪══════════════════╪═════════╪═══════════╡
│ ehemingway@email.com ┆ Ernest Hemingway ┆ Ernest  ┆ Hemingway │
│ sking@email.com      ┆ Stephen King     ┆ Stephen ┆ King      │
│ hlee@email.com       ┆ Harper Lee       ┆ Harper  ┆ Lee       │
└──────────────────────┴──────────────────┴─────────┴───────────┘

In [ ]:
<div class="alert alert-warning" role="alert" style="background-color: black;">
    <center><h1><strong><font color="yellow">Part 6: Adding & Removing Rows or Columns.</font></strong></h1></center>
</di>

In [120]:
authors = {
    'first':['Scott','Joan'],
    'last':['Fitzgerald','Didion'],
    'full_name':['Scott Fitzgerald','Joan Didion'],
    'email':['sfitzgerald@email.com','jdidion@email.com']
}

ff2 = pl.DataFrame(authors)
ff2

shape: (2, 4)
┌───────┬────────────┬──────────────────┬───────────────────────┐
│ first ┆ last       ┆ full_name        ┆ email                 │
│ ---   ┆ ---        ┆ ---              ┆ ---                   │
│ str   ┆ str        ┆ str              ┆ str                   │
╞═══════╪════════════╪══════════════════╪═══════════════════════╡
│ Scott ┆ Fitzgerald ┆ Scott Fitzgerald ┆ sfitzgerald@email.com │
│ Joan  ┆ Didion     ┆ Joan Didion      ┆ jdidion@email.com     │
└───────┴────────────┴──────────────────┴───────────────────────┘

In [125]:
ff2=ff2.select(['email', 'full_name', 'first', 'last'])

In [126]:
ff.extend(ff2) #change in place.

shape: (5, 4)
┌───────────────────────┬──────────────────┬─────────┬────────────┐
│ email                 ┆ full_name        ┆ first   ┆ last       │
│ ---                   ┆ ---              ┆ ---     ┆ ---        │
│ str                   ┆ str              ┆ str     ┆ str        │
╞═══════════════════════╪══════════════════╪═════════╪════════════╡
│ ehemingway@email.com  ┆ Ernest Hemingway ┆ Ernest  ┆ Hemingway  │
│ sking@email.com       ┆ Stephen King     ┆ Stephen ┆ King       │
│ hlee@email.com        ┆ Harper Lee       ┆ Harper  ┆ Lee        │
│ sfitzgerald@email.com ┆ Scott Fitzgerald ┆ Scott   ┆ Fitzgerald │
│ jdidion@email.com     ┆ Joan Didion      ┆ Joan    ┆ Didion     │
└───────────────────────┴──────────────────┴─────────┴────────────┘

In [139]:
# Drop an author
# ff.filter(pl.col('last') != 'Didion')
ff.filter(~(pl.col('last') == 'Didion'))

shape: (4, 4)
┌───────────────────────┬──────────────────┬─────────┬────────────┐
│ email                 ┆ full_name        ┆ first   ┆ last       │
│ ---                   ┆ ---              ┆ ---     ┆ ---        │
│ str                   ┆ str              ┆ str     ┆ str        │
╞═══════════════════════╪══════════════════╪═════════╪════════════╡
│ ehemingway@email.com  ┆ Ernest Hemingway ┆ Ernest  ┆ Hemingway  │
│ sking@email.com       ┆ Stephen King     ┆ Stephen ┆ King       │
│ hlee@email.com        ┆ Harper Lee       ┆ Harper  ┆ Lee        │
│ sfitzgerald@email.com ┆ Scott Fitzgerald ┆ Scott   ┆ Fitzgerald │
└───────────────────────┴──────────────────┴─────────┴────────────┘