# Part 4b: More String Operations (Splitting)

In [3]:
import polars as pl
pl.Config.set_tbl_rows(10)
pl.Config.set_fmt_str_lengths(50)

df = pl.read_csv('https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_06_working_with_text_data/customers.csv')
df

shape: (9_961, 2)
┌─────────────────────┬─────────────────────────────────────────────────────┐
│ Name                ┆ Address                                             │
│ ---                 ┆ ---                                                 │
│ str                 ┆ str                                                 │
╞═════════════════════╪═════════════════════════════════════════════════════╡
│ Frank Manning       ┆ 6461 Quinn Groves, East Matthew, New Hampshire, 16… │
│ Elizabeth Johnson   ┆ 1360 Tracey Ports Apt. 419, Kyleport, Vermont, 319… │
│ Donald Stephens     ┆ 19120 Fleming Manors, Prestonstad, Montana, 23495   │
│ Michael Vincent III ┆ 441 Olivia Creek, Jimmymouth, Georgia, 82991        │
│ Jasmine Zamora      ┆ 4246 Chelsey Ford Apt. 310, Karamouth, Utah, 76252  │
│ …                   ┆ …                                                   │
│ Dana Browning       ┆ 762 Andrew Views Apt. 254, North Paul, New Mexico,… │
│ Amanda Anderson     ┆ 44188 Day Crest Apt. 901, Lake Marcia, Maine, 3737… │
│ Eric Davis          ┆ 73015 Michelle Squares, Watsonville, West Virginia… │
│ Taylor Hernandez    ┆ 129 Keith Greens, Haleyfurt, Oklahoma, 98916        │
│ Sherry Nicholson    ┆ 355 Griffin Valley, Davidtown, New Mexico, 17581    │
└─────────────────────┴─────────────────────────────────────────────────────┘

In [4]:
# Lets talk about splitting strings
phone_number = '555-555-5555'
phone_number.split('-')

['555', '555', '5555']

In [15]:
# df['Name'].str.split(' ').list[0]
df['Name'].str.splitn(' ', 2).struct[0]

shape: (9_961,)
Series: 'field_0' [str]
[
	"Frank"
	"Elizabeth"
	"Donald"
	"Michael"
	"Jasmine"
	…
	"Dana"
	"Amanda"
	"Eric"
	"Taylor"
	"Sherry"
]

In [129]:
# Separate the first and last name

(df
 .with_columns([pl.col('Name').str.splitn(" ", 2).struct[0].alias('First_Name'),
                pl.col('Name').str.splitn(" ", 2).struct[1].alias('Last_Name')])
 )

shape: (9_961, 4)
┌─────────────────────┬─────────────────────────────────────────────────┬────────────┬─────────────┐
│ Name                ┆ Address                                         ┆ First_Name ┆ Last_Name   │
│ ---                 ┆ ---                                             ┆ ---        ┆ ---         │
│ str                 ┆ str                                             ┆ str        ┆ str         │
╞═════════════════════╪═════════════════════════════════════════════════╪════════════╪═════════════╡
│ Frank Manning       ┆ 6461 Quinn Groves, East Matthew, New Hampshire, ┆ Frank      ┆ Manning     │
│                     ┆ 16…                                             ┆            ┆             │
│ Elizabeth Johnson   ┆ 1360 Tracey Ports Apt. 419, Kyleport, Vermont,  ┆ Elizabeth  ┆ Johnson     │
│                     ┆ 319…                                            ┆            ┆             │
│ Donald Stephens     ┆ 19120 Fleming Manors, Prestonstad, Montana,     ┆ Donald     ┆ Stephens    │
│                     ┆ 23495                                           ┆            ┆             │
│ Michael Vincent III ┆ 441 Olivia Creek, Jimmymouth, Georgia, 82991    ┆ Michael    ┆ Vincent III │
│ Jasmine Zamora      ┆ 4246 Chelsey Ford Apt. 310, Karamouth, Utah,    ┆ Jasmine    ┆ Zamora      │
│                     ┆ 76252                                           ┆            ┆             │
│ …                   ┆ …                                               ┆ …          ┆ …           │
│ Dana Browning       ┆ 762 Andrew Views Apt. 254, North Paul, New      ┆ Dana       ┆ Browning    │
│                     ┆ Mexico,…                                        ┆            ┆             │
│ Amanda Anderson     ┆ 44188 Day Crest Apt. 901, Lake Marcia, Maine,   ┆ Amanda     ┆ Anderson    │
│                     ┆ 3737…                                           ┆            ┆             │
│ Eric Davis          ┆ 73015 Michelle Squares, Watsonville, West       ┆ Eric       ┆ Davis       │
│                     ┆ Virginia…                                       ┆            ┆             │
│ Taylor Hernandez    ┆ 129 Keith Greens, Haleyfurt, Oklahoma, 98916    ┆ Taylor     ┆ Hernandez   │
│ Sherry Nicholson    ┆ 355 Griffin Valley, Davidtown, New Mexico,      ┆ Sherry     ┆ Nicholson   │
│                     ┆ 17581                                           ┆            ┆             │
└─────────────────────┴─────────────────────────────────────────────────┴────────────┴─────────────┘

In [16]:
# Assign col names
(df
 .with_columns([pl.col('Name').str.splitn(" ", 2).struct[0].alias('First_Name'),
                pl.col('Name').str.splitn(" ", 2).struct[1].alias('Last_Name')])
 .drop('Name')
 )

shape: (9_961, 3)
┌─────────────────────────────────────────────────────┬────────────┬─────────────┐
│ Address                                             ┆ First_Name ┆ Last_Name   │
│ ---                                                 ┆ ---        ┆ ---         │
│ str                                                 ┆ str        ┆ str         │
╞═════════════════════════════════════════════════════╪════════════╪═════════════╡
│ 6461 Quinn Groves, East Matthew, New Hampshire, 16… ┆ Frank      ┆ Manning     │
│ 1360 Tracey Ports Apt. 419, Kyleport, Vermont, 319… ┆ Elizabeth  ┆ Johnson     │
│ 19120 Fleming Manors, Prestonstad, Montana, 23495   ┆ Donald     ┆ Stephens    │
│ 441 Olivia Creek, Jimmymouth, Georgia, 82991        ┆ Michael    ┆ Vincent III │
│ 4246 Chelsey Ford Apt. 310, Karamouth, Utah, 76252  ┆ Jasmine    ┆ Zamora      │
│ …                                                   ┆ …          ┆ …           │
│ 762 Andrew Views Apt. 254, North Paul, New Mexico,… ┆ Dana       ┆ Browning    │
│ 44188 Day Crest Apt. 901, Lake Marcia, Maine, 3737… ┆ Amanda     ┆ Anderson    │
│ 73015 Michelle Squares, Watsonville, West Virginia… ┆ Eric       ┆ Davis       │
│ 129 Keith Greens, Haleyfurt, Oklahoma, 98916        ┆ Taylor     ┆ Hernandez   │
│ 355 Griffin Valley, Davidtown, New Mexico, 17581    ┆ Sherry     ┆ Nicholson   │
└─────────────────────────────────────────────────────┴────────────┴─────────────┘

In [18]:
# df ['Address'].str.split(', ')
df['Address'].str.split_exact(', ', 3) #this is not a list anymore

shape: (9_961,)
Series: 'Address' [struct[4]]
[
	{"6461 Quinn Groves","East Matthew","New Hampshire","16656"}
	{"1360 Tracey Ports Apt. 419","Kyleport","Vermont","31924"}
	{"19120 Fleming Manors","Prestonstad","Montana","23495"}
	{"441 Olivia Creek","Jimmymouth","Georgia","82991"}
	{"4246 Chelsey Ford Apt. 310","Karamouth","Utah","76252"}
	…
	{"762 Andrew Views Apt. 254","North Paul","New Mexico","28889"}
	{"44188 Day Crest Apt. 901","Lake Marcia","Maine","37378"}
	{"73015 Michelle Squares","Watsonville","West Virginia","03933"}
	{"129 Keith Greens","Haleyfurt","Oklahoma","98916"}
	{"355 Griffin Valley","Davidtown","New Mexico","17581"}
]

In [141]:
(df
 .with_columns(pl.col('Address').str.split_exact(', ', 3)
                .struct.rename_fields(['Street_Name', 'City', 'State', 'Zip_Code']).alias('fields'))
.unnest('fields')
 )

shape: (9_961, 6)
┌──────────────────┬──────────────────┬──────────────────┬──────────────┬───────────────┬──────────┐
│ Name             ┆ Address          ┆ Street_Name      ┆ City         ┆ State         ┆ Zip_Code │
│ ---              ┆ ---              ┆ ---              ┆ ---          ┆ ---           ┆ ---      │
│ str              ┆ str              ┆ str              ┆ str          ┆ str           ┆ str      │
╞══════════════════╪══════════════════╪══════════════════╪══════════════╪═══════════════╪══════════╡
│ Frank Manning    ┆ 6461 Quinn       ┆ 6461 Quinn       ┆ East Matthew ┆ New Hampshire ┆ 16656    │
│                  ┆ Groves, East     ┆ Groves           ┆              ┆               ┆          │
│                  ┆ Matthew, New     ┆                  ┆              ┆               ┆          │
│                  ┆ Hampshire, 16…   ┆                  ┆              ┆               ┆          │
│ Elizabeth        ┆ 1360 Tracey      ┆ 1360 Tracey      ┆ Kyleport     ┆ Vermont       ┆ 31924    │
│ Johnson          ┆ Ports Apt. 419,  ┆ Ports Apt. 419   ┆              ┆               ┆          │
│                  ┆ Kyleport,        ┆                  ┆              ┆               ┆          │
│                  ┆ Vermont, 319…    ┆                  ┆              ┆               ┆          │
│ Donald Stephens  ┆ 19120 Fleming    ┆ 19120 Fleming    ┆ Prestonstad  ┆ Montana       ┆ 23495    │
│                  ┆ Manors,          ┆ Manors           ┆              ┆               ┆          │
│                  ┆ Prestonstad,     ┆                  ┆              ┆               ┆          │
│                  ┆ Montana, 23495   ┆                  ┆              ┆               ┆          │
│ Michael Vincent  ┆ 441 Olivia       ┆ 441 Olivia Creek ┆ Jimmymouth   ┆ Georgia       ┆ 82991    │
│ III              ┆ Creek,           ┆                  ┆              ┆               ┆          │
│                  ┆ Jimmymouth,      ┆                  ┆              ┆               ┆          │
│                  ┆ Georgia, 82991   ┆                  ┆              ┆               ┆          │
│ Jasmine Zamora   ┆ 4246 Chelsey     ┆ 4246 Chelsey     ┆ Karamouth    ┆ Utah          ┆ 76252    │
│                  ┆ Ford Apt. 310,   ┆ Ford Apt. 310    ┆              ┆               ┆          │
│                  ┆ Karamouth, Utah, ┆                  ┆              ┆               ┆          │
│                  ┆ 76252            ┆                  ┆              ┆               ┆          │
│ …                ┆ …                ┆ …                ┆ …            ┆ …             ┆ …        │
│ Dana Browning    ┆ 762 Andrew Views ┆ 762 Andrew Views ┆ North Paul   ┆ New Mexico    ┆ 28889    │
│                  ┆ Apt. 254, North  ┆ Apt. 254         ┆              ┆               ┆          │
│                  ┆ Paul, New        ┆                  ┆              ┆               ┆          │
│                  ┆ Mexico,…         ┆                  ┆              ┆               ┆          │
│ Amanda Anderson  ┆ 44188 Day Crest  ┆ 44188 Day Crest  ┆ Lake Marcia  ┆ Maine         ┆ 37378    │
│                  ┆ Apt. 901, Lake   ┆ Apt. 901         ┆              ┆               ┆          │
│                  ┆ Marcia, Maine,   ┆                  ┆              ┆               ┆          │
│                  ┆ 3737…            ┆                  ┆              ┆               ┆          │
│ Eric Davis       ┆ 73015 Michelle   ┆ 73015 Michelle   ┆ Watsonville  ┆ West Virginia ┆ 03933    │
│                  ┆ Squares,         ┆ Squares          ┆              ┆               ┆          │
│                  ┆ Watsonville,     ┆                  ┆              ┆               ┆          │
│                  ┆ West Virginia…   ┆                  ┆              ┆               ┆          │
│ Taylor Hernandez ┆ 129 Keith        ┆ 129 Keith Greens ┆ Haleyfurt    ┆ Oklahoma      ┆ 98916    │
│                  ┆ Greens,          ┆                  ┆              ┆               ┆          │
│                  ┆ Haleyfurt,       ┆                  ┆              ┆               ┆          │
│                  ┆ Oklahoma, 98916  ┆                  ┆              ┆               ┆          │
│ Sherry Nicholson ┆ 355 Griffin      ┆ 355 Griffin      ┆ Davidtown    ┆ New Mexico    ┆ 17581    │
│                  ┆ Valley,          ┆ Valley           ┆              ┆               ┆          │
│                  ┆ Davidtown, New   ┆                  ┆              ┆               ┆          │
│                  ┆ Mexico, 17581    ┆                  ┆              ┆               ┆          │
└──────────────────┴──────────────────┴──────────────────┴──────────────┴───────────────┴──────────┘