# Part 7 Sorting Data

In [5]:
# Our authors
authors = {
    'first':['Ernest','Stephen','Harper'],
    'last':['Hemingway','King','Lee'],
    'email':['ehemingway@email.com','sking@email.com','hlee@email.com']
}

ff = pl.DataFrame(authors)
ff

shape: (3, 3)
┌─────────┬───────────┬──────────────────────┐
│ first   ┆ last      ┆ email                │
│ ---     ┆ ---       ┆ ---                  │
│ str     ┆ str       ┆ str                  │
╞═════════╪═══════════╪══════════════════════╡
│ Ernest  ┆ Hemingway ┆ ehemingway@email.com │
│ Stephen ┆ King      ┆ sking@email.com      │
│ Harper  ┆ Lee       ┆ hlee@email.com       │
└─────────┴───────────┴──────────────────────┘

In [6]:
ff.sort(by='first')

shape: (3, 3)
┌─────────┬───────────┬──────────────────────┐
│ first   ┆ last      ┆ email                │
│ ---     ┆ ---       ┆ ---                  │
│ str     ┆ str       ┆ str                  │
╞═════════╪═══════════╪══════════════════════╡
│ Ernest  ┆ Hemingway ┆ ehemingway@email.com │
│ Harper  ┆ Lee       ┆ hlee@email.com       │
│ Stephen ┆ King      ┆ sking@email.com      │
└─────────┴───────────┴──────────────────────┘

In [7]:
# Sort by multiple columns
ff.sort(['first','last'], descending=[True,False])

shape: (3, 3)
┌─────────┬───────────┬──────────────────────┐
│ first   ┆ last      ┆ email                │
│ ---     ┆ ---       ┆ ---                  │
│ str     ┆ str       ┆ str                  │
╞═════════╪═══════════╪══════════════════════╡
│ Stephen ┆ King      ┆ sking@email.com      │
│ Harper  ┆ Lee       ┆ hlee@email.com       │
│ Ernest  ┆ Hemingway ┆ ehemingway@email.com │
└─────────┴───────────┴──────────────────────┘

In [8]:
ff['first'].sort()

shape: (3,)
Series: 'first' [str]
[
	"Ernest"
	"Harper"
	"Stephen"
]

In [9]:
# Sort by country on our survey data
df['Country'].sort()

shape: (88_883,)
Series: 'Country' [str]
[
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	"Afghanistan"
	…
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
]

In [12]:
# Show country in ascending and Salary in descending
df[['Country','ConvertedComp']].sort(['Country','ConvertedComp'], descending=[False,True])

shape: (88_883, 2)
┌─────────────┬───────────────┐
│ Country     ┆ ConvertedComp │
│ ---         ┆ ---           │
│ str         ┆ str           │
╞═════════════╪═══════════════╡
│ Afghanistan ┆ NA            │
│ Afghanistan ┆ NA            │
│ Afghanistan ┆ NA            │
│ Afghanistan ┆ NA            │
│ Afghanistan ┆ NA            │
│ …           ┆ …             │
│ Zimbabwe    ┆ 180000        │
│ Zimbabwe    ┆ 18000         │
│ Zimbabwe    ┆ 15000         │
│ Zimbabwe    ┆ 12000         │
│ Zimbabwe    ┆ 12000         │
└─────────────┴───────────────┘

In [13]:
# Do without missing values.
(df
 .select(['Country','ConvertedComp'])
 .filter(pl.col('ConvertedComp') != 'NA')
 .sort(['Country','ConvertedComp'], descending=[False,True])
 )

shape: (55_823, 2)
┌─────────────┬───────────────┐
│ Country     ┆ ConvertedComp │
│ ---         ┆ ---           │
│ str         ┆ str           │
╞═════════════╪═══════════════╡
│ Afghanistan ┆ 7980          │
│ Afghanistan ┆ 4464          │
│ Afghanistan ┆ 3996          │
│ Afghanistan ┆ 1e+06         │
│ Afghanistan ┆ 19152         │
│ …           ┆ …             │
│ Zimbabwe    ┆ 180000        │
│ Zimbabwe    ┆ 18000         │
│ Zimbabwe    ┆ 15000         │
│ Zimbabwe    ┆ 12000         │
│ Zimbabwe    ┆ 12000         │
└─────────────┴───────────────┘

In [16]:

(df
 .with_columns(pl.when(pl.col('ConvertedComp') == 'NA') # Replacing NA with None
               .then(None)
               .otherwise(pl.col('ConvertedComp').cast(pl.Float64, strict=False))
               .alias('ConvertedComp'))
 .top_k(10, by='ConvertedComp') #top 10 salaries
#  .bottom_k(10, by='ConvertedComp')
 .select('ConvertedComp')
 )

shape: (10, 1)
┌───────────────┐
│ ConvertedComp │
│ ---           │
│ f64           │
╞═══════════════╡
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
│ null          │
└───────────────┘